@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0rem;
  width: 100vw;
  height: 100dvh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure Google Maps built-in close icon does not get hidden by global styles and hide it since we provide our own */
/* On some mobile browsers global CSS may affect Google's internal images */
.gm-ui-hover-effect img {
  max-width: none !important;
}

/* Hide default close control because we render a custom close button in headerContent */
.gm-ui-hover-effect {
  display: none !important;
}

.gm-style-iw-ch {
  padding-top: 0 !important;
}
